<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erunning">
    <!-- 인터넷 permission*/ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- GPS permission -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 스텝 감지 센서 사용 설정 -->
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/erunning_icon"
        android:label="eRunning"
        android:roundIcon="@drawable/erunning_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.eRunning">

        <!-- android:theme="@style/Theme.Design.NoActionBar"> //상단바 없애기 -->
        <activity android:name=".Loading"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SignUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PasswordReset"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthCheck"
            android:screenOrientation="portrait"/>
        <activity android:name=".CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Gallery"
            android:screenOrientation="portrait"/>
        <activity android:name=".BasicActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserSearch"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewFlag"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlagInter"
            android:screenOrientation="portrait"/>
        <activity android:name=".OtherAccount"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Post"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewRecordPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlagNewmap"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlagDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlagInfoDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlagPost"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDjLCGte1vkRBhlEZzmsWK6AEC6yYhlvlc" /> <!-- 각자 api키 발급받아서 YOUR_API_KEY 대신 넣어주세요! -->
        <!-- https://console.developers.google.com/flows/enableapi?apiid=maps_android_backend&keyType=CLIENT_SIDE_ANDROID&r=4D:83:32:0E:C5:5D:A9:E7:2F:07:C4:D1:E1:AA:7C:E3:D2:65:51:AD%3Bcom.example.erunning -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>



